<DIV>
  Responder: {{ reply.Identifier }} <br/>
  SubmittedAt: {{ reply.SubmittedAt }}<br/>
  <A href="/mod/view/{{ reply.FK_ID }}/{{ reply.ID }}">INDIVIDUAL</A>
  <A href="/mod/response/delete/{{ storagename }}/{{ reply.ID }}" onclick="return FormLibrary.postDeleteResponse('{{ storagename }}' ,'{{ reply.ID }}')">DELETE</A>
</DIV>
{% for field in form.FormFields %}
  {% include 'mod-views/mod-reply-item.twig' with {'field':field , 'reply': reply} %}
{% endfor %}
<br/>
