<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-views/mod-header.twig' %}
    <TITLE>Kissu Feedback & Forms - Create Form</TITLE>
    <SCRIPT></SCRIPT>
  </HEAD>
  <BODY>
    <H1>Form List</H1>
    <P>A URL list of all forms</P>
    <UL>
      {% for form in form_list %}
      <LI id="row-{{ form.Name }}-{{ form.ID }}" title="Unix UpdatedAt: {{ form.UpdatedAt }}">
        <SPAN><A href="/mod/view/{{ form.ID }}">{{ form.Name }} - RESPONSES</A></SPAN>
        <SPAN><A href="/public/forms/{{ form.Name }}/{{ form.ID }}">PUBLIC</A></SPAN>
        <SPAN><A href="/mod/download/{{ form.Name }}/{{ form.ID }}" target="_blank">DOWNLOAD</A></SPAN>
        <SPAN><A href="/mod/edit/{{ form.ID }}">EDIT</A></SPAN>
        <SPAN><A href="/mod/form/delete/{{ form.Name }}/{{ form.ID }}" onclick="return FormLibrary.postDeleteForm('{{ form.Name }}' , '{{ form.ID }}')" >DELETE</A></SPAN>
      </LI>
      {% endfor %}
    </UL>
    <HR/>
    {% include 'mod-views/mod-footer.twig' %}
  </BODY>
</HTML>
